{% extends "base_generic.html" %}

{% block content %}

 <h3>Планы помещений</h3>
  {% if application_list %}
  <ul>
   {% for application in application_list %}
                     <div class=" border-bottom box-shadow">
                        <p class="p-2"> {{application.name}} - {{application.date}} - ({{application.status}})
                            {% if perms.catalog.can_mark_returned %}
                            {% if application.status != 'done' %}
                            <a href="application-update">Обновить статус</a>{% endif %}
                    {% endif %}</p>
                        <p> {{application.categories}}</p>
                          <div class="d-flex ">
                             <img src="{{application.image.url}}" height="200px" width="350px">
                            <p class="p-2"> {{application.description}}</p>
                        </div><br>
                    </div>
            {% endfor %}
  </ul>
 {% else %}
    <p>Планов помещений нет</p>
  {% endif %}
{% endblock %}