{% extends "base_generic.html" %}

{% block content %}

 <h3>Планы помещений</h3>
{% if user.is_staff %}
  {% if application_list %}
  <ul>
   {% for application in application_list %}
                    <div class="">
                        <p> {{application.name}} - {{application.date}} - ({{application.status}})</p>
                        <p> {{application.categories}}</p>
                        <img src="{{application.image}}">
                        <p> {{application.description}}</p>
                    </div>
            {% endfor %}
  </ul>
 {% else %}
    <p>Планов помещений нет</p>
  {% endif %}
 {% endif %}
{% endblock %}