{% extends "base_generic.html" %}
{% block content %}

<p class="zgl">Ваши объявления</p>

 <p class="sl"><a href="{% url 'createapp' %}"> + Создать новое объявление</a></p>

{% if application_list %}


            <div class="link_filter">
                {% if request.GET.status %}
                    <a href="{% url 'profile' %}">Все</a>
                    {% for item in status_list %}
                    {% if request.GET.status != item%}
                    <a href="{% url 'profile' %}?status={{item.0}}"> ({{item.1}}) </a>
                    {% else %}
                    {{item.status}}
                    {% endif %}
                    {% endfor %}
                {% endif %}
                </div>


  <ul>
   {% for application in application_list %}
                     <div class=" box-shadow content-window">
                          <div class="d-flex ">
                                <div>
                                     <img src="{{application.image.url}}">
                                </div>
                                <div>
                                    <div class="d-flex justify-content-between">
                                         <p class="p-2"> {{application.name}} ({{application.categories}})</p>
                                        <p class="p-2"> {{application.date}} - ({{application.status}})
                                            {% if application.status == 'new' %}
                                <a href="{% url 'delete_application' application.pk %}">Удалить заказ</a>
                            {%          endif %}</p>
                                    </div>
                                    <p class="p-2"> {{application.description}}</p>
                                </div>
                         </div>
                    </div>
            {% endfor %}
  </ul>
 {% else %}
    <p class="zgl">Объявлений нет</p>
  {% endif %}
{% endblock %}
